.igeb_PearControl
{
	background-color:Transparent;
	font-size:xx-small;
	font-family: Segoe UI, Verdana, Helvetica, sans-serif;
	border:solid 1px #507601;
	border-top-width:0px;
	overflow-x: hidden;
	_overflow: hidden!important;
	color:Black;
}


.igeb_PearGroup
{
	background-repeat:repeat-x;
	background-image: url(images/igeb_GroupBg.png);
	display: block;
	height: 30px;
	overflow: hidden;
	line-height: 30px;
	color:#6A9C01;
	vertical-align:middle;
    padding: 0px;
    border-width:0px;
}


.igeb_PearGroupSelected
{
	background-repeat:repeat-x;
	background-position:0px -30px ;
	background-image: url(images/igeb_GroupBg.png);
	font-weight:bold;
	color:#365100;
}


.igeb_PearGroupActive
{
	background-repeat:repeat-x;
	background-position:0px -30px ;
	background-image: url(images/igeb_GroupBg.png);
	font-weight:bold;
	color:#365100;
}


.igeb_PearGroupHover
{
	background-repeat:repeat-x;
	background-position:0px -30px ;
	background-image: url(images/igeb_GroupBg.png);
	font-weight:bold;
	color:#365001;
}


.igeb_PearItem
{
	background-color:White;
	line-height: 22px;
    padding: 0px;
    border-width:0px;
}


.igeb_PearItemImage
{
	padding-top:5px;
	padding-right:5px;
	padding-left:0px;
	vertical-align:middle;
}


.igeb_PearItemSelected
{
	background-color:#F0F5E2;
	color:#365100;
}


.igeb_PearItemActive
{
	background-color:#F0F5E2;
}


.igeb_PearItemHover
{
	background-color:#F0F5E2;
}


.igeb_PearItemDisabled
{
}


.igeb_PearGroupContents
{
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:0px;
	list-style: none;
}


.igeb_PearGroupLabel
{
	font-size:12px;
	font-family: Segoe UI, Verdana, Sans-Serif;
	margin-left:5px;
	padding-left:5px;
	text-decoration:none;
}


.igeb_PearGroupDisabled
{
	background-repeat:repeat-x;
	background-position:0px -60px ;
	background-image: url(images/igeb_GroupBg.png);
	font-weight:bold;
	color:#365001;
}


.igeb_PearGroupExpanderImage
{
	margin-top:5px;
	margin-right:5px;
	float: right;
}


.igeb_PearItemLabel
{
	font-weight:normal;
	font-size:12px;
	font-family: Segoe UI, Verdana, Arial, Sans-Serif;
	display: block;
}


.igeb_PearHolder
{
    clear:left;
}


.igeb_PearGroupLink
{
	margin-bottom:0px;
	padding-bottom:0px;
	padding-left:6px;
	display: block;
	color: inherit;
	text-decoration:none;
}


.igeb_PearItemLink
{
	padding-top:2px;
	padding-bottom:2px;
	display: block;
	color:#333333;
	text-decoration:none;
}


.igeb_PearItemParent
{
}


.igeb_PearGroupActive a visited
{
	color:#365100;
}


.igeb_PearGroup a
{
	color:#6A9C01;
}


.igeb_PearItemHolder
{
}


.igeb_PearGroupActive a
{
	color:#365100;
}


.igeb_PearGroupSelected a visited
{
	color:#365100;
}


igeb_PearItemDisabled
{
}


.igeb_PearGroupSelected a
{
	color:#365100;
}


.igeb_PearGroupHover a visited
{
	color:#365001;
}


/* IE 7 fix to icon bad alignment*/
.igeb_PearItem ,.igeb_PearItemActive ,.igeb_PearItemSelected
{
	min-height: 30px!important;
	_height: 30px;
}


/* IE 7 Disabled item fix */
.igeb_PearItemDisabled a visited, .igeb_PearItemDisabled a
{
	color:Gray;
}


.igeb_PearGroup a visited
{
	color:#6A9C01;
}


.igeb_PearGroupHover a
{
	color:#365001;
}


.igeb_PearItemHolder img
{
	vertical-align:middle;
}


.igeb_PearItemContents
{
	margin-left:0px;
	padding-left:0px;
	list-style: none;
}


