.igcv_AppletiniControl
{
	border:solid 1px #4F7600;
}


.igcv_AppletiniCaptionHeader
{
	background-color:#EBF3DA;
	font-weight:bold;
	font-size:8pt;
	padding:3px;
	width: 100%;
	white-space: nowrap;
	color:#4F7600;
	text-align:center;
}


.igcv_AppletiniDayHeader
{
	background-color:White;
	background-repeat:repeat-x;
	font-size:10px;
	border-bottom:solid 1px #4F7600;
	height: 16px;
	color:Black;
}


.igcv_AppletiniDay
{
	background-color:White;
	font-size:11px;
	border-width:0px;
	padding-right:10px;
	padding-bottom:3px;
	padding-left:3px;
	cursor:hand;
	text-align:center;
}


.igcv_AppletiniFooter
{
	background-color:#EEEEEE;
	font-size:8pt;
	padding:3px;
	white-space: nowrap;
	cursor:pointer;
	text-align:left;
}


.igcv_AppletiniDropDown
{
	font-size:8pt;
}


.igcv_AppletiniOtherMonthDay
{
	background-color:White;
	color:#B3B3B3;
}


.igcv_AppletiniWeekendDay
{
	background-color:#FAFAFA;
}


.igcv_AppletiniNavigationButton
{
	background-color:#EBF3DA;
	padding-right:3px;
	padding-left:3px;
	cursor:pointer;
}


.igcv_AppletiniTodayDay
{
	background-repeat:no-repeat;
	background-image: url(images/today.png);
	font-weight:bold;
	color:#4F7600;
}


.igcv_AppletiniActivityDay
{
}


.igcv_AppletiniActiveDay
{
	background-repeat:no-repeat;
	background-image: url(images/dayactive.png);
	color:#4F7600;
}


