.igc_AppletiniControl
{
	border:solid 1px #507701;
	background-color:#ffffff;
	padding:10px;
	margin:0px;
	font-family:Segoe UI,Verdana,Arial,Sans-Serif;
    font-size:12px;
}

.igc_AppletiniControlActive
{
	
}

.igc_AppletiniCaptchaInput
{
    border:1px solid #507701;
    display:block;
    padding:5px 0;
    
    margin-bottom:10px;
    /*IE6 and IE7 specific hack*/
    *margin-bottom:0;
    
}

.igc_AppletiniRefreshAndAudioButtonsArea
{
    margin-left:10px;
	border-width:0;
	text-decoration:none;
    display:block;
}

    .igc_AppletiniRefreshAndAudioButtonsArea img
    {
	    border-width:0px;
	    text-decoration:none;
	    margin-bottom:3px;
    }

.igc_AppletiniSubmitButton {
    background:#AED003 url(./images/igc_submitButtonBg.png) repeat-x left top;
    border:1px solid #507701;
    clear:left;
    display:block;
    height:30px;
    width:177px;
    cursor:pointer;
    color:#4F7600;
    margin-top:10px;
    font-family:Segoe UI,Verdana,Arial,Sans-Serif;
    font-size:12px;
    font-weight:bold;
    padding:0px;
}

.igc_AppletiniErrorLabel
{
    background-color:#FF6666;
    color:white;
    padding:3px;
}

.igc_AppletiniCaptchaImageLabel
{
	border:1px solid #507701;
}

.igc_AppletiniCaptchaInputLabel
}

.igc_AppletiniCaptchaInfoTextLabel
{
    display:block;
    margin:10px 0 5px 0;
}

.igc_AppletiniCaptchaImage
{
    display:block;
    margin-bottom:10px;
}

.igc_AppletiniCaptchaImageArea
{
    display:block;
    float:left;
    padding:0;
    margin:0;
}
    .igc_AppletiniCaptchaImageArea label 
    {
        display:block
    }
	    
.igc_AppletiniRefreshAndAudioButtonsArea 
{
    float:left;
}
    .igc_AppletiniRefreshAndAudioButtonsArea a 
    {
        display:block
    }
    .igc_AppletiniRefreshAndAudioButtonsArea a,
    .igc_AppletiniRefreshAndAudioButtonsArea img 
    {
        cursor:pointer
    }