.ignb_AppletiniControl
{
	background-color:Transparent;
	border-width:0px;
}


.ignb_AppletiniItem
{
	background-color:Transparent;
}


.ignb_AppletiniButton
{
	background-color:Transparent;
}


.ignb_AppletiniButtonHover
{
}


.ignb_AppletiniButtonPressed
{
}


