.igspell_AppletiniWrapper
{
	background-repeat:no-repeat;
	background-image: url(images/appletini.jpg);
	font-size:x-small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border:solid 0px Brown;
	margin:0px;
	padding:5px;
	position: relative;
	width: 100%;
	height: 100%;
}


.igspell_AppletiniDocumentTextPanel
{
	background-color:White;
	background-position:bottom ;
	background-image:none;
	border:solid 1px #4F7600;
	position: absolute;
	height: 85px;
	width: 230px;
	left: 10px;
	top: 76px;
	overflow: auto;
}


.igspell_AppletiniButton
{
	background-color:Transparent;
	background-repeat:no-repeat;
	background-image: url(images/button_bg.png);
	font-size:10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-width:0px;
	width: 95px;
	height: 21px;
	position: absolute;
	left: 250px;
	cursor:hand;
}


.igspell_AppletiniChangeToBox
{
	background-position:bottom ;
	background-image:none;
	border:solid 1px #4F7600;
	position: absolute;
	left: 10px;
	top: 197px;
	width: 230px;
	height: 25px;
}


.igspell_AppletiniSuggestions
{
	background-position:bottom ;
	background-image:none;
	border:solid 1px #4F7600;
	position: absolute;
	left: 10px;
	top: 262px;
	width: 340px;
	height: 109px;
}


.igspell_AppletiniLabel
{
	font-weight:bold;
	font-size:xx-small;
	margin-bottom:2px;
	position: absolute;
	left: 10px;
	color:#151C55;
}


.igspell_AppletiniBadWord
{
	border-bottom:solid 1px Red;
}


.igspell_AppletiniIgnoreButton
{
	top: 76px;
}


.igspell_AppletiniIgnoreAllButton
{
	top: 102px;
}


.igspell_AppletiniChangeButton
{
	top: 197px;
}


.igspell_AppletiniChangeAllButton
{
	top: 223px;
}


.igspell_AppletiniFinishButton
{
	top: 374px;
}


.igspell_AppletiniAddButton
{
	top: 128px;
}


.igspell_AppletiniChangeToLabel
{
	top: 180px;
	color:#3B7600;
}


.igspell_AppletiniSuggestionsLabel
{
	top: 246px;
	color:#468D00;
}


.igspell_AppletiniNotFoundLabel
{
	top: 10px;
}


