<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案是由您 Web 專案的發行/封裝處理程序所使用。您可以編輯此 MSBuild 檔案，
以自訂此處理程序的行為。若要深入了解，請造訪 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://172.17.1.6:8084/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://172.17.1.6:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>DD2015_45</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>WIN2008-2\Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Debug" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=SQLOLEDB;Data Source=SHAN-NB\SQL2005;Initial Catalog=WW030051; User Id=WEBUSER;Password=play2003;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Debug_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=SQLOLEDB;Data Source=SHAN-NB\SQL2005;Initial Catalog=WW030051; User Id=WEBUSER;Password=play2003;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MSSQL" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SHAN-NB\SQL2008;Initial Catalog=footwear;Integrated Security=False;User ID=WEBUSER;Password=play2003" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MSSQL_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SHAN-NB\SQL2008;Initial Catalog=footwear;Integrated Security=False;User ID=WEBUSER;Password=play2003" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="YNET" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=SQLOLEDB;Data Source=172.17.1.6;Initial Catalog=YNET_DD; User Id=WEBUSER;Password=play2003;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\YNET_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=SQLOLEDB;Data Source=172.17.1.6;Initial Catalog=YNET_DD; User Id=WEBUSER;Password=play2003;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Debug-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MSSQL-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)YNET-Web.config Connection String" />
  </ItemGroup>
</Project>