.igtxt_AppletiniEditWithButtons
{
	background-position:bottom;
	background-image:url(images/footer.gif);
	border:solid 1px #4F7600;
	font-family:Verdana;
	font-size:10px;
	line-height:1px;
	height:20px;
	width:130px;
}


.igtxt_AppletiniEdit
{
	background-position:bottom;
	background-image:url(images/footer.gif);
	border:solid 1px #4F7600;
	outline:0;
}

.igtxt_AppletiniTextArea
{
	background-position:bottom;
	background-image:url(images/footer.gif);
	border:solid 1px #4F7600;
	font-family:arial;
	font-size:12px;
	outline:0;
}

.igtxt_AppletiniEditInContainer
{
	background-color:Transparent;
	border-width:0px;
	margin:0px;
	padding-top:0px;
	padding-bottom:0px;
	outline:0;
}

.igtxt_AppletiniFocus
{
	border-color:#C0C080;
}

.igtxt_AppletiniButtonSize
{
	width:15px;
	height:100%;
}

.igtxt_AppletiniButton
{
	background-color:#A1C806;
	line-height:normal;
	border:solid 1px #EAF2FB;
}

.igtxt_AppletiniButtonFocus
{
	background-color:#F0F0B0;
}

.igtxt_AppletiniButtonHover
{
	background-color:#B4B4B4;
	border:solid 1px #ABC1DE;
}


.igtxt_AppletiniButtonPressed
{
	background-color:#878787;
	border:solid 1px #ABC1DE;
}


.igtxt_AppletiniButtonDisabled
{
	background-color:#EAF2FB;
	border:solid 1px White;
}


