.igdw_PearControl
{
	border:solid 1px #9A9A9A;
}


.igdw_PearHeaderArea
{
	background-image: url(images/igdw_top.gif);
	font-weight:bold;
	border-width:0px;
	border-bottom:solid 1px #9A9A9A;
	padding-top:5px;
	padding-bottom:5px;
	height: 24px;
	cursor:default;
	color:White;
}


.igdw_PearBodyContent
{
	border:solid 0px #999999;
}


.igdw_PearHeaderButton
{
	margin:4px 3px 3px 3px;
	cursor:pointer;
}


.igdw_PearHeaderCaption
{
	margin-top:16px;
	margin-left:6px;
	padding-top:10px;
	color:White;
}


.igdw_PearHeaderButtonArea
{
	width: 120px;
	vertical-align:middle;
}


.igdw_PearHeaderImage
{
	cursor:default;
}


.igdw_PearModalBackground
{
	background-color: #FFFFFF;
	filter: alpha(opacity : 50);
	opacity: 0.5;
	z-index: 99999;
}


.igdw_PearResizingHandle
{
	cursor:se-resize;
}


/* used only when header visible */
.igdw_PearHeaderCornerLeft
{
	background-position:top left ;
	width: 9px;
}


/* used only when header visible */
.igdw_PearHeaderContent
{
}


/* used only when header visible */
.igdw_PearHeaderCornerRight
{
	background-position:top right ;
	width: 9px;
}


/* used only when header hidden */
.igdw_PearBodyCornerTopLeft
{
	background-image: url(images/igdw_TopLeftHidden.gif);
	border-bottom:solid 1px #CCCCCC;
}


/* used only when header hidden */
.igdw_PearBodyEdgeTop
{
	background-image: url(images/igdw_topHidden.gif);
	border-bottom:solid 1px #CCCCCC;
}


/* used only when header hidden */
.igdw_PearBodyCornerTopRight
{
	background-image: url(images/igdw_TopRightHidden.gif);
	border-bottom:solid 1px #CCCCCC;
}


.igdw_PearBodyEdgeLeft
{
	background-color:#EEEEEE;
	border-right:solid 1px #CCCCCC;
	width: 6px;
}


.igdw_PearBodyEdgeRight
{
	background-color:#EEEEEE;
	border-left:solid 1px #CCCCCC;
	width: 6px;
}


.igdw_PearBodyCornerBottomLeft
{
	background-color:#EEEEEE;
	font-size:1px;
	height: 14px;
	width: 9px;
}


.igdw_PearBodyContentArea
{
	vertical-align:top;
}


.igdw_PearBodyCornerBottomRight
{
	background-color:#EEEEEE;
	font-size:1px;
	height: 14px;
	width: 9px;
}


.igdw_PearBodyEdgeBottom
{
	background-color:#EEEEEE;
	font-size:1px;
	border-top:solid 1px #CCCCCC;
	height: 14px;
}


