.igfeb_PearControl
{
	background-color: Transparent;
}

.igfeb_PearControlHover
{
				
				
}

.igfeb_PearFishEyeItemLabel
{
}

.igfeb_PearFishEyeItem
{
}

.igfeb_PearFishEyeItemHover
{			
}

.igfeb_PearFishEyeItemDisabled
{
				
				
}

.igfeb_PearControlFocus
{
				
				
}

.igfeb_PearFishEyeItemSelected
{
	background-position: bottom;
	background-image: url(images/igfeb_itemselected.png);	
	background-repeat:  no-repeat;
}