.iglb_PearControl
{
	font-size:medium;
	border:solid 1px #636A4C;
	margin-bottom:0px;
}


.iglb_PearControl_Exp
{
	font-size:medium;
	border:solid 1px #636A4C;
}


.iglb_PearButton
{
	background-color:#BBD17E;
	font-size:smaller;
	border-bottom:solid 1px #636A4C;
	border-top-width:0px;
	border-top-style:solid;
	padding-top:2px;
	padding-bottom:1px;
	padding-left:3px;
	cursor:hand;
}


.iglb_PearButtonHover
{
	background-color:#636A4C;
	font-size:smaller;
	border-top:solid 0px #BBD17E;
	border-bottom:solid 1px #BBD17E;
	padding-top:2px;
	padding-bottom:1px;
	padding-left:3px;
	cursor:hand;
	color:White;
}


.iglb_PearButtonSelected
{
	background-color:#636A4C;
	font-size:smaller;
	padding-top:2px;
	padding-bottom:1px;
	padding-left:3px;
	cursor:hand;
	color:White;
}


.iglb_PearHeaderCollapsed
{
	background-color:#BBD17E;
	font-weight:bold;
	font-size:smaller;
	border-top:solid 1px #BBD17E;
	border-bottom:solid 1px #636A4C;
	padding-top:0px;
	padding-bottom:3px;
	padding-left:3px;
	color:White;
}


.iglb_PearHeaderExpanded
{
	background-color:#BBD17E;
	font-weight:bold;
	font-size:smaller;
	border-top:solid 1px #BBD17E;
	border-bottom:solid 1px #636A4C;
	padding-top:0px;
	padding-bottom:3px;
	padding-left:3px;
	color:White;
}


.iglb_PearHeaderHover
{
	background-color:#636A4C;
	font-weight:bold;
	font-size:smaller;
	border-top:solid 1px #636A4C;
	border-bottom:solid 1px #636A4C;
	padding-top:0px;
	padding-bottom:3px;
	padding-left:3px;
	cursor:hand;
	color:White;
}


.iglb_PearGroup
{
	border-bottom-width:1px;
	border-bottom-color:Transparent;
}


.iglb_PearGroup_Exp
{
	border-bottom:solid 1px #636A4C;
	margin-bottom:0px;
}


.iglb_PearItem
{
	font-size:x-small;
	margin-top:8px;
	margin-bottom:3px;
	padding-left:4px;
	text-align:left;
}


.iglb_PearItem_Exp
{
	font-size:xx-small;
	margin-top:4px;
	margin-bottom:0px;
	padding-bottom:3px;
	padding-left:4px;
	cursor:hand;
	text-align:left;
}


.iglb_PearItemHover
{
	font-size:x-small;
	margin-top:8px;
	margin-bottom:3px;
	padding-left:4px;
	cursor:hand;
	color:#5E8D00;
	text-align:left;
	text-decoration:underline;
}


.iglb_PearItemHover_Exp
{
	font-size:xx-small;
	margin-top:4px;
	margin-bottom:0px;
	padding-bottom:3px;
	padding-left:4px;
	cursor:hand;
	color:#5E8D00;
	text-align:left;
	text-decoration:underline;
}


.iglb_PearItemSelected
{
	background-color:#FAFAFA;
	font-weight:bold;
	font-size:xx-small;
	margin-top:8px;
	margin-bottom:3px;
	padding-left:4px;
	cursor:hand;
	color:#5E8D00;
	text-align:left;
}


.iglb_PearItemSelected_Exp
{
	background-color:#FAFAFA;
	font-weight:bold;
	font-size:xx-small;
	margin-top:4px;
	margin-bottom:0px;
	padding-bottom:3px;
	padding-left:4px;
	cursor:hand;
	color:#5E8D00;
	text-align:left;
}


